[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "fercreek.github.io"]
	path = fercreek.github.io
	url = git@github.com:fercreek/fercreek.github.io.git
